.viewport {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: pointer;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  

  